*.aux
*.log
*.out
*.toc
*.run.xml
*-blx.bib
*.blg
*.bbl
*.synctex.gz
*.vscode
*.venv
*.DS_Store
.vscode
.idea
shelf
inspectionProfiles
*.iml
*.xml
*.bcf
/report/230.pdf
/algorithm/Genetic_Algorithm/Memetic_Algorithm
algorithm/Random_Forest/Random_Forest_score.py
